*,*::before,*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}


:root {
  --primary-marine-blue: hsl(213, 96%, 18%);
  --primary-purplish-blue: hsl(243, 100%, 62%);
  --primary-pastel-blue: hsl(228, 100%, 84%);
  --primary-light-blue: hsl(206, 94%, 87%);
  --primary-strawberry-red: hsl(354, 84%, 57%);

  --neutral-cool-gray: hsl(231, 11%, 63%);
  --neutral-light-gray: hsl(229, 24%, 87%);
  --neutral-magnolia: hsl(217, 100%, 97%);
  --neutral-alabaster: hsl(231, 100%, 99%);
  --neutral-white: hsl(0, 0%, 100%);
}


body {
  font-size: 16px;
  background-color: var(--neutral-magnolia);
  min-height: 100vh;
  display: grid;
  place-items: center;
}


.multi-step-container {
  display: flex;
  background-color: white;
  gap: 6rem;
  border-radius: 15px;
}


.active-step {
  background-color: var(--primary-light-blue);
  color: var(--primary-marine-blue) !important;
  border: var(--primary-marine-blue) !important;
}


.active-form {
  display: block !important;
}


.step-form {
  height: 40rem;
  margin: 1rem 0rem 1rem 0rem;
  position: relative;
  width: 35rem;
}


.header {
  color: var(--primary-marine-blue);
  font-size: 36px;
  margin-bottom: .5rem;
}


.description {
  color: var(--neutral-cool-gray);
  margin-bottom: 3rem;
}


.form-section {
  margin: 1rem 5rem 1rem 0;
  padding-top: 3rem;
  position: absolute;
  height: 40rem;
  display: none;
  width: 30rem;
}



.next-btn {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: none;
  background-color: var(--primary-marine-blue);
  color: var(--neutral-light-gray);
  padding: 15px 20px 15px 20px;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}


.prev-btn {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  font-weight: 700;
  color: var(--neutral-cool-gray);
}


.buttons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  align-items: center;
  bottom: 3rem;
  width: 100%;
}


/*///////////////////////////////////////////////////////////////////// side bar */
.step {
  display: flex;
  margin-top: 2rem;
  gap: 1rem;
  margin-right: 7rem;
}


.step-container {
  background-image: url('/public/assets/images/bg-sidebar-desktop.svg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  margin: 1rem 0 1rem 2rem;
  height: 40rem;
}


.step-description {
  text-transform: uppercase;
}


.step-description p:last-child{
  font-weight: bold;
  color: white;
}


.step-description p:first-child {
  color: var(--neutral-light-gray);
}


.step-indicator {
  color: white;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 24px;
  border-radius: 50%;
  border: 1px solid white;
  margin-left: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


/*/////////////////////////////////////////////////////////////////////////// personal info */
.form-input {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  position: relative;
}


.form-input label {
  color: var(--primary-marine-blue);
  font-weight: 500;
  margin-bottom: .5rem;
}


.form-input span {
  color: var(--primary-strawberry-red);
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 500;
}


.form-input input::placeholder {
  font-weight: 500;
  color: var(--neutral-cool-gray);
}


.form-input input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: none;

  padding: 17px;
  border: 1px solid var(--neutral-light-gray);
  border-radius: 10px;
}


.form-input input:focus {
  border: 1px solid var(--primary-purplish-blue);
}


/*/////////////////////////////////////////////////PLAN OPTIONS */
.plan-buttons {
  background: none;
  border: 1px solid var(--primary-pastel-blue);
  border-radius: 10px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
  display: flex;
  flex-direction: column;
  width: 8rem;
}


.plan-buttons:hover {
  border: 1px solid var(--primary-purplish-blue);
}


.selected-plan {
  border: 1px solid var(--primary-purplish-blue);
}


.plan-buttons img {
  margin: 10px 0 40px 10px;
}


.plan-buttons span {
  margin: 10px 0 0 10px;
}


.plan-buttons span:nth-child(2) {
  font-weight: 700;
  color: var(--primary-marine-blue);
}


.plan-buttons span:last-child {
  color: var(--neutral-cool-gray);
  font-weight: 500;
  margin-bottom: 1rem;
}


.plan-container {
  display: flex;
  gap: 2rem;
}


.switch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 5rem;
}


.switch-container p {
  color: var(--neutral-cool-gray);
  font-weight: 500;
}


.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  
}


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: .4s;
  border-radius: 34px;
  background-color: var(--primary-marine-blue);
}


.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}


input:checked + .slider {
  background-color: var(--primary-marine-blue);
}


input:checked + .slider:before {
  transform: translateX(18px);
}


.selected-switch {
  color: var(--primary-marine-blue) !important;
}


/* Pick add-ons */
.checkboxes {
  border: 2px solid var(--primary-pastel-blue);
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}


.checkboxes input {
  margin-left: 1rem;
}


.selected-addon {
  border: 2px solid var(--primary-purplish-blue);
}


.addon-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
}


.addon-name {
  font-weight: 700;
  color: var(--primary-marine-blue);
}


.addon-description {
  color: var(--neutral-cool-gray);
}


.addon-price {
  color: var(--primary-purplish-blue);
}